@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800&display=swap');

// Variables
$uchicago-maroon: #800000;
$uchicago-dark-grey: #767676; 
$uchicago-light-grey: #D6D6CE;
$white: #FFFFFF;
$black: #000000;
$font-stack: 'Raleway', sans-serif;
$std-margin: 35px;
$navbar-logo-height: 16px;

// General body styles
body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  line-height: 1.6;
}

// Headings
h0 {
  font-size: 45px;;
}

h1 {
  margin-top: 40px;
  font-weight: bold;
  margin-left: $std-margin;
  margin-right: $std-margin;
  color: $black;
  line-height: 1;
  align-items: center;
  text-align: center;
}

h3 {
  margin-left: $std-margin;
  margin-right: $std-margin;
  font-family: $font-stack;
  color: $uchicago-dark-grey;
  align-items: center;
  text-align: center;
}

h6 {
  font-family: $font-stack;
  font-size: 18px;
}

p {
  margin-left: $std-margin;
  margin-right: $std-margin;
  color: $black;
  line-height: 1.6;
  align-items: center;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}

// image centering
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

#preview img {
  max-width: 100%; 
  height: auto; 
}

// map format
#map {
  height: 600px; 
  width: 900px;
  margin: 0 auto; 
  border: 1px solid #ccc; 
}

// Line spacing
.line-spacing {
  line-height: 1.5;
}

// button styling
.btn-custom {
  background-color: $uchicago-maroon;
  color: white;
  padding: 4px 12px; 
  font-size: 16px; 
  border-radius: 4px;
  border: none;
}

// Components
.col-sm {
  background-color: #e2e3e4;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

// navbar styling
.navbar {
  background-color: $uchicago-maroon;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  .nav-link, .dropdown-toggle {
    text-align: center; 
    width: 100%; 
    font-weight: light; 
    color: $white;
  }

  .nav-item {
    align-items: center; 
    justify-content: center; 
    flex: 1 0 auto;

    &:hover .dropdown-menu {
      display: block; 
    }
    &:hover > a, &:focus-within > a {
      font-weight: bold; 
    }
  }

  .dropdown-menu {
    background-color: $uchicago-dark-grey;
    border-radius: 0;
    border: none !important;
    position: absolute;
    top: 100%; 
    min-width: 100%; 
    width: 100%;

    .dropdown-item {
      color: $white;
      background-color: transparent; 

      &:hover {
        color: $uchicago-maroon;
        background-color: transparent; 
      }
    }
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block; 
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

    li {
      margin-right: 45px;
      position: relative; 

      a {
        text-decoration: none;
        color: $white;
        font-family: $font-stack;
        font-size: 16px;
        font-weight: light;

        &:hover {
          color: $uchicago-light-grey;
          font-weight: bold;
        }
      }
    }
  }
}

.navbar .nav-link,
.navbar .dropdown-toggle {
  &:hover, &:focus, &:active {
    color: white; 
    font-weight: bold;
    background-color: $uchicago-maroon; 
    outline: none; 
  }
}

.navbar .nav-item a {
  &:visited, &:active, &:focus {
    color: white;
  }
}

.navbar-custom .navbar-brand img {
  height: $navbar-logo-height;
  width: auto; 
  vertical-align: 0%; 
  margin-right: 1.5rem;
}

// footer
html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

p0 {
  color: $white;
  font-weight: light;
  align-items: center;
  font-size: 12px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  height: $navbar-logo-height;
  width: auto; 
  vertical-align: 0%; 
  margin-right: 1.5rem;
}

#footer-placeholder {
  width: 100%;
}

.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; 

  a {
      color: white;
      &:hover {
          text-decoration: underline;
      }
  }

  .social-media-icons {
      font-size: 1.5em; 
      a {
          margin-right: 30px; 
      }
  }
}

// Tables
table {
  margin: 20px;
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

// Links
a.custom-link {
  text-decoration: none;
  color: $uchicago-maroon;

  &:visited {
    color: #e37418;
  }

  &:hover {
    color: #e37418;
  }
}

// Responsive components and additional classes
.fixed-height-image {
  height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.centered-row {
  display: flex;
  justify-content: center;
}

.carousel-item {
  padding-top: 40%;
  position: relative;
  background-size: cover;
  background-position: center;

  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.text-underline {
  text-decoration: underline;
}
