$uchicago-maroon: #800000;
$uchicago-dark-grey: #767676; 
$uchicago-light-grey: #D6D6CE;
$white: #FFFFFF;
$black: #000000;
$font-stack: Helvetica, sans-serif;
$std-margin-left: 20px;
$std-margin-right: 20px;
$navbar-logo-height: 20px; 


body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  line-height: 1.6;
}

h0 {
  color:#FFFFFF;
  font-size: 48px;
}

h1 {
  margin-top: 30px;
  font-weight: bold;
  margin-left: $std-margin-left;
  margin-right: $std-margin-right;
  font-family: $font-stack;
  color: $black;
  line-height: 1;
}

h3 {
  margin-left: $std-margin-left;
  margin-right: $std-margin-right;
  font-family: $font-stack;
  color: $uchicago-dark-grey;
  line-height: 1;
}

p {
  margin-left: $std-margin-left;
  margin-right: $std-margin-right;
  font-family: $font-stack;
  color: $black;
  line-height: 1.6;
}

.col-sm {
  background-color: #e2e3e4;
  padding: 1rem; 
  margin-bottom: 0.5rem; 
  border-radius: 0.25rem; 
}

.navbar {
  background-color: $uchicago-maroon;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    li {
      margin-right: 35px;
      a {
        text-decoration: none;
        color: $uchicago-light-grey;
        font-family: $font-stack;
        align-items: center;
        font-size: 18px;
        .navbar-logo {
          height: $navbar-logo-height;
          width: auto; 
          vertical-align: middle; 
        }
        &:hover { 
          color: $uchicago-dark-grey;
        }
        &.active, &.bold {
          color: #FFFFFF;
          font-weight: bold;
        }
      }
    }
  }
}

table {
  margin: 20px;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

a.custom-link {
  text-decoration: none; 
  color: #800000; 
}

a.custom-link:visited {
  color: #e37418; 
}

a.custom-link:hover {
  color: #e37418; 
}
